# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
packages/functions/**/target/
**/*.rs.bk

# SST
.sst/
sst-env.d.ts
**/sst-env.d.ts
persist.json

# Environment
.env
**/.env

# OS
.DS_Store

# Editor
notes
.nvim.lua
.idea/
*.swp
*.swo
